#include <behaviors.dtsi>

/ {

	chosen {

		zmk,physical-layout = &layout40;
        // &layout20, &layout24, &layout30, &layout40, &layout48, &layout60;
	};

	keymap {
        
		compatible = "zmk,keymap";

		default {
			bindings = <
				&none	&none	&none	&none	&none   &none	&none	&none	&none	&none
				&none	&none	&none	&none	&none   &none	&none	&none	&none	&none
				&none	&none	&none	&none	&none   &none	&none	&none	&none	&none
				&none	&none	&none	&none	&none   &none	&none	&none	&none	&none
			>;
		};
	};
};
